.mixAfterClear {
    display: block;
    contain: '';
    clear: both;
}

.uniforms {

	// form config
    @clrText: white;
    @clrBorder: #ffbc41;
    @borderWidth: 10px;
    @clrBackground: #ffbc41;

    
    // closer
    @clrCloserNormal: #ff9d00;
    @clrCloserActive: white;

    // fields config
    @clrInputBorderNormal: transparent;
    @clrInputBorderActive: #ff9d00;
    @clrInputText: black;
    @clrInputDescriptionText: #226b63;
    @heightFieldInput: 40px;


	// submit button
    @clrSubmitBackgroundNormal: #389f94;
    @clrSubmitBackgroundActive:#226b63;

	// result fog
    @clrResultFogInfo: blue;
    @clrResultFogSuccess: green;
    @clrResultFogError: red;


    .mixFnt {
        font-family: 'Exo 2', sans-serif;
        font-weight: 400;
    }
    .mixFntBold {
        font-family: 'Exo 2', sans-serif;
        font-weight: 700;
    }

    .mixFnt;

    fieldset {
        margin: 0;
        padding: 0;
        border: none;
    }


    &__h {
        font-size: 3rem;
        color:  @clrText;
        display: block;
        text-align: left;
        margin: 0 0 20px 0;
        text-transform: uppercase;
    }

    &__description {
        color: @clrText;
        font-size: 1.6rem;
        display: block;
        text-align: left;
        margin: 0 0 30px 0;
    }
    
    &__result-slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2200;
        display: none;

        .uniforms__result-slide__h {
            display: block;
            text-align: center;
            font-size: 3rem;
            color: white;
            margin: 0 0 20px;
        }

        &__text {

            display: block;
            font-size: 2rem;
            text-align: center;
            color: white;
            line-height: 1.4;
        }

        &--success {}

        &--error { }
    }

    &__field-group {
        margin: 0 0 20px 0;
    
        &__label {
            .mixFntBold;

            margin-bottom: 5px;
            font-size: 1.6rem;
            display: block;
            color: @clrText;
        }
        &__input {
            padding: 0 15px;
            width: calc(~"100% - 30px");
            font-size: 1.6rem;
            border: 2px solid @clrInputBorderNormal;
            height: @heightFieldInput;
            line-height: @heightFieldInput;
            text-align: left;
            transition: linear all 0.3s;
            color: @clrInputText;

            &:hover, &:focus {
                border-color: @clrInputBorderActive;
            }
        }
        &__textarea {
            padding: 3px 15px;
            width: calc(~"100% - 30px");
            font-size: 1.6rem;
            border: 2px solid @clrInputBorderNormal;
            line-height: 1.4;
            text-align: left;
            max-width: calc(~"100% - 30px");
            min-width: calc(~"100% - 30px"); 
            
            &:hover, &:focus {
                border-color: @clrInputBorderActive;
            }
        }    
    
        &__radio-wrapper {
            margin: 0 0 20px 0;
        }
        &__radio-h {    
            font-size: 2rem;
            line-height: 1.4;
            margin-bottom: 15px;
            display: block;
        }
        &__radio-label {
            
            line-height: 1.2;
            font-size: 1.6rem;
            vertical-align: top;
        }
        &__radio {
            vertical-align: bottom;
            transform: scale(1.2);
            margin: 0 10px 0 0;
            line-height: 1.2;
        }

        &__description {
            display: block;
            font-size: 12px;
            color: @clrInputText;
        }
    }

    &__submit-block {
        text-align: center;
    }

    &__button-submit {
        .mixFntBold;

        font-size: 1.6rem;
        text-transform: uppercase;
        display: inline-block;
        border: none;
        background: @clrSubmitBackgroundNormal;
        height: @heightFieldInput;
        line-height: @heightFieldInput;
        text-align: center;
        color: @clrText;
        padding: 0 20px;
        transition: linear all 0.3s;
        cursor: pointer;

        &:hover {
            background: @clrSubmitBackgroundActive;
        }
    }

    &__fog {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;

        &--info {
            background-color: @clrResultFogInfo;
        }
        &--success {
            background-color: @clrResultFogSuccess;
        }
        &--error {
            background-color: @clrResultFogError;
        }

        &__label {
            max-width: 80%;
            display: block;
            font-size: 3rem;
            color: white;
            font-weight: 600;
            text-align: center;
            z-index: 35300;
            opacity: 1;
        }
    }

    &__agremeent {
        padding: 0 15px 10px 15px;
        
        &__checkbox {
            display: block;
            float: left;
            margin: 0 10px 70px 0;
            transform: scale(1.2);
        }
        &__text{
            font-size: 1.2rem;
            word-wrap: break-word;
            hyphens: auto;
        }
    }


    &--inline {
        position:relative;
    }

    &--popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 35000;
        display: flex;
        justify-content: center;
        align-items: center;
    
        &__body-fog {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 35100;
            background: black;
            opacity: 0.7;
        }
    
        &__closer {
            position: absolute;
            color: @clrCloserNormal;
            font-size: 30px;
            font-weight: 700;
            right: 0;
            top: 0px;
            font-family: sans-serif;
            cursor: pointer;
            transition: linear all 0.3s;

            &:hover {
                color: @clrCloserActive;
            }
        }
        &__wrapper-form {
            background: @clrBackground;
            position: relative;
            z-index: 35200;
            width: 320px;
            padding: 30px;
            border: @borderWidth solid @clrBorder;
        }
    }
}